= render partial: "profile"

.SearchTop
  %ul.TabGroup
    %li
      =link_to user_path(@user.id), class: "tab" do
        投稿 
    %li
      =link_to like_posts_user_path, class: "tab" do
        イイね
    %li
      =link_to followings_user_path, class: "tab active" do
        フォロー
.Container
  .PostsWrapper