.SearchTop
  %ul.TabGroup
    %li
      =link_to search_posts_path, class: "tab" do
        キーワード検索
    %li
      =link_to category_posts_path, class: "tab active" do
        カテゴリー
    %li
      =link_to rank_posts_path, class: "tab" do
        人気の投稿
.Container
  .Box
    =link_to root_path, class: "PinkBtn btn" do
      ジャンル
    =link_to root_path, class: "PinkBtn btn" do
      ジャンル
    =link_to root_path, class: "PinkBtn btn" do
      ジャンル
    =link_to root_path, class: "PinkBtn btn" do
      ジャンル
    =link_to root_path, class: "PinkBtn btn" do
      ジャンル
